

.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 5px 20px;
    font-size: 24px;
    border: 1px solid #2d6898;
    border-radius: 5px;
}
body{
    background-image: url(newback.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;


    display:block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;

    text-align: center;
    padding: 50px 0px;
}
footer{
margin-top: 500px;
}

